@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Inconsolata:wght@500&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    min-width: 100vw;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 145, 77);
    padding: 15px;
    font-size: 10px;
    width: 100vw;
}


header img {
    height: 100px;
}

ul a {
    text-decoration: none;
}

li {
    display: inline;
    color: white;
    font-weight: bold;
    padding: 0 9px;
    font-size: 20px;

}

li:hover {
    color: rgb(255, 210, 86);

}

button {
    padding: 5px 10px;
    margin-right: 20px;
}

.emprestimo img {
    margin-left: 20px;
}

header button {
    font-size: 20px;
    font-family: "Barlow";
    border: none;
    padding: 10px 36px;
    border-radius: 20px;
    margin: 15px;
    background-color: rgb(255, 189, 89);
    color: white;
}

header button:hover {
    font-size: 24px;
    font-family: "Barlow";
    padding: 16px 40px;
    border-radius: 28px;
    background-color: whitesmoke;
    color:rgb(255, 145, 77);
}


main {
    display: grid;
    padding: 15px;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
}

.secao2 div {
    border: none;
    justify-content: space-between;
}

main section {
    display: grid;
    padding: 15px;
    justify-content: space-between;
    min-height: 33vh;
    border: 1px solid rgb(255, 145, 77);
    margin: 10px;
    border-radius: 10px;
    font-family: "Barlow";
}

.about-us h2 {
    display: flex;
}

.about-us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    font-family: "Barlow";
}

footer {
    display: flex;
    background-color: rgb(0, 0, 0);
    color: rgba(245, 245, 245, 0.788);
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    min-width: 100vw;
}

.sobre a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(245, 245, 245, 0.788);
}




.redesSociais a {
    text-decoration: none;
}

.redesSociais img {

    height: 30px;
    width: 30px;

    height: 36px;
    width: 36px;

}

.secao1 {
    background-image: url(./img/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 40vw;
    justify-content: center;
    align-content: center;
    display: flex;
}

.secao1 p {
    font-size: large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    padding-top: 10%;
    text-align: center;
}

.secao2 {
    display: flex;
    padding: 50px;
    background-color: #ffb700;
    font-weight: bold;

}

.secao2 img {
    width: 10vw;
    height: 10vw;
}


.cartao {
    display: flex;
    align-items: center;

}


.contaCorrente {
    display: flex;
    align-items: center;

}


.suporte {
    display: flex;
    align-items: center;
}

.emprestimo img{
    width: 30vw;

}

.emprestimo{
    display: flex;
    background-color:#ffb700;
    justify-content: space-between;
    min-width: 100vw;
}

.textos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 15px;
    font-size: larger; 
    
}