@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Inconsolata:wght@500&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    
}

header {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255,145,77);
    padding: 15px;
    font-size: 10px;
}


header img {
    height: 100px;
}

ul {
    text-transform: uppercase;   
}
li {
    display: inline;
    color: white;
    font-weight: bold;
    padding: 0 9px;
    font-size: 20px;
    text-decoration: underline;
}

li:hover {
    background-color: antiquewhite;
    color: black;
}

button {
    padding: 5px 10px;
    margin-right: 20px;
}

img {
    margin-left: 20px;
}

header button {
    font-size: 20px;
    font-family:"Barlow";
    border: none;
    padding: 10px 36px;
    border-radius: 20px;
    margin: 15px;
    background-color: rgb(255,189,89);
    color: white;
}



main {
    display: grid;
    padding: 15px;
    justify-content: space-between;
    gap: 5px;
}

main section {
    display: grid;
    padding: 15px;
    justify-content: space-between;
    min-height: 33vh;
    border: 1px solid rgb(255,145,77);
    margin: 10px;
    border-radius: 10px;
    font-family:"Barlow";
}

/* necessario fazer manutenção para corrigir borda vazando */

main div {
    /* display: flex; */
    /* flex-direction: row; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    font-family:"Barlow";
}

footer {
    display: flex;
    background-color: rgb(0, 0, 0);
    color: rgba(245, 245, 245, 0.788);
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}

.sobre a {
    display: flex;
    flex-direction: column;
    text-decoration: none;

    color: rgb(245, 245, 245, 0.788);   
}

    color: rgb(245, 245, 245, 0.788);
    background-color: black;


.redesSociais a {
    text-decoration: none;
}

.redesSociais img{

    height: 30px ;
    width: 30px;    

    height: 36px ;
    width: 36px;      

}

.secao1{
    background-image:url(./img/juventude_pixabay.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 40vw;
    height: 40vw;
    justify-content: center;
    align-content: center;
}

.secao1 p{
    font-size: x-large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
}

.secao2{
    display: flex;
    padding: 50px;
   
}

.secao2 img{
    width: 10vw;
    height: 10vw;
}


.cartao{
    display: flex;
    align-items: center;
  
}


.contaCorrente{
    display: flex;
    align-items: center;
   
}


.suporte{
    display: flex;
    align-items: center;

}